<center>
   <h1><%= I18n.t("orcamentos.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "07/11/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
  <div class="metro-surface">
   <center>
      <table>
         <tr>
            <td>
               <a href="#localizar_inner">
                  <div class="metro-tile  "><%= I18n.t("orcamentos.index.table_of_contents.localizar") %></div>
               </a>
            </td>
            <td>
               <a href="#faturados_inner">
                  <div class="metro-tile metro-tile-small "><%= I18n.t("orcamentos.index.table_of_contents.faturados") %></div>
               </a>
            </td>
            <td>
               <a href="#notas_fiscais_inner">
                  <div class="metro-tile "><%= I18n.t("orcamentos.index.table_of_contents.notas_fiscais") %></div>
               </a>
            </td>
            <td>
               <a href="#nao_aprovado_inner">
                  <div class="metro-tile metro-tile-small "><%= I18n.t("orcamentos.index.table_of_contents.nao_aprovado") %></div>
               </a>
            </td>
            <td>
               <a href="#cancelado_inner">
                  <div class="metro-tile "><%= I18n.t("orcamentos.index.table_of_contents.cancelado") %></div>
               </a>
            </td>
         </tr>
      </table>
      <table>
         <tr>
            <td>
               <a href="#concluidos_inner">
                  <div class="metro-tile  "><%= I18n.t("orcamentos.index.table_of_contents.concluidos") %></div>
               </a>
            </td>
            <td>
               <a href="#divergencias_inner">
                  <div class="metro-tile  "><%= I18n.t("orcamentos.index.table_of_contents.divergencias") %></div>
               </a>
            </td>
            <td>
               <a href="#divergencias_fornecedor_inner">
                  <div class="metro-tile "><%= I18n.t("orcamentos.index.table_of_contents.divergencias_fornecedor") %></div>
               </a>
            </td>
            <td>
               <a href="#abertos_inner">
                  <div class="metro-tile metro-tile-small "><%= I18n.t("orcamentos.index.table_of_contents.abertos") %></div>
               </a>
            </td>
            <td>
               <a href="#auditor_inner">
                  <div class="metro-tile  metro-tile-small"><%= I18n.t("orcamentos.index.table_of_contents.auditor") %></div>
               </a>
            </td>
         </tr>
      </table>
      <table>
         <tr>
            <td>
               <a href="#local_atendimento_inner">
                  <div class="metro-tile  "><%= I18n.t("orcamentos.index.table_of_contents.local_atendimento") %></div>
               </a>
            </td>
            <td>
               <a href="#pendentes_fornecedor_inner">
                  <div class="metro-tile  metro-tile-small"><%= I18n.t("orcamentos.index.table_of_contents.pendentes_fornecedor") %></div>
               </a>
            </td>
            <td>
               <a href="#conf_faturamento_inner">
                  <div class="metro-tile "><%= I18n.t("orcamentos.index.table_of_contents.conf_faturamento") %></div>
               </a>
            </td>
            <td>
               <a href="#nf_recebida_inner">
                  <div class="metro-tile   metro-tile-small"><%= I18n.t("orcamentos.index.table_of_contents.nf_recebida") %></div>
               </a>
            </td>
            <td>
               <a href="#rep_titulo_inner">
                  <div class="metro-tile  "><%= I18n.t("orcamentos.index.table_of_contents.rep_titulo") %></div>
               </a>
            </td>
         </tr>
      </table>
   </center>
</div>
<!-- Localizar Orçamento -->
<div id ="localizar" > &nbsp </div>
<h2 id="localizar_inner"><%= I18n.t("orcamentos.index.table_of_contents.localizar") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_localizar_orcamento.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.localizar.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.localizar.item_2") %></p>
   <center>
      <img src="/img/orcamentos/localizar_orcamento.jpg" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.localizar.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.localizar.item_4") %></p>
   <center>
      <img src="/img/orcamentos/lista_localizar_orcamentos.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.localizar.item_5") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.localizar.item_6") %></p>
   <strong>
      <div style="width:50%;float:left">
         <ul style="list-style-type:circle;margin-left:170px">
            <li><%= I18n.t("orcamentos.index.localizar.item_7") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_8") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_9") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_10") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_11") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_12") %></li>
         </ul>
      </div>
      <div style="width:50%;float:left">
         <ul style="list-style-type:circle;margin-left:100px">
            <li><%= I18n.t("orcamentos.index.localizar.item_13") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_14") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_15") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_16") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_17") %></li>
            <li><%= I18n.t("orcamentos.index.localizar.item_18") %></li>
         </ul>
      </div>
   </strong>
</div>


<!-- Faturados/10 dias -->
<div id ="faturados" > &nbsp </div>
<h2 id="faturados_inner"><%= I18n.t("orcamentos.index.table_of_contents.faturados") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_faturados.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.faturados.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.faturados.item_2") %></p>
   <center>
      <img src="/img/orcamentos/faturados2.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.faturados.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.faturados.item_4") %></p>
   <center>
      <img src="/img/orcamentos/faturados3.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.faturados.item_5") %></p>
</div>



<!-- Aguardando Notas Fiscais -->
<div id ="notas_fiscais" > &nbsp </div>
<h2 id="notas_fiscais_inner"><%= I18n.t("orcamentos.index.table_of_contents.notas_fiscais") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_aguardando_notas_fiscais.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.notas_fiscais.item_2") %></p>
   <center>
      <img src="/img/orcamentos/aguardando_notas fiscais_2.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.notas_fiscais.item_4") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_aguardando_notas.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_5") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.notas_fiscais.item_6") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_anexar_nota.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_7") %></p>
</div>


<!-- Concluidos -->
<div id ="concluidos" > &nbsp </div>
<h2 id="concluidos_inner"><%= I18n.t("orcamentos.index.table_of_contents.concluidos") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_concluidos.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.concluidos.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.concluidos.item_2") %></p>
   <center>
      <img src="/img/orcamentos/concluidos_2.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.concluidos.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.concluidos.item_4") %></p>
   <center>
      <img src="/img/orcamentos/concluidos_3.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.concluidos.item_5") %></p>
</div>


<!-- Divergencias -->
<div id ="divergencias" > &nbsp </div>
<h2 id="divergencias_inner"><%= I18n.t("orcamentos.index.table_of_contents.divergencias") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_divergencias.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.divergencias.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.divergencias.item_2") %></p>
   <center>
      <img src="/img/orcamentos/divergencias_2.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.divergencias.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.divergencias.item_4") %></p>
   <center>
      <img src="/img/orcamentos/divergencias_3.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.divergencias.item_5") %></p>
</div>



<!-- Divergencias Pendente Fornecedor-->
<div id ="divergencias_fornecedor" > &nbsp </div>
<h2 id="divergencias_fornecedor_inner"><%= I18n.t("orcamentos.index.table_of_contents.divergencias_fornecedor") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_divergencias_pendentes_fornecedor.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.divergencias_fornecedor.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.divergencias_fornecedor.item_2") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_divergencia_pendente_fornecedor.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.divergencias_fornecedor.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.divergencias_fornecedor.item_4") %></p>
</div>


<!-- Abertos -->
<div id ="abertos" > &nbsp </div>
<h2 id="abertos_inner"><%= I18n.t("orcamentos.index.table_of_contents.abertos") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_abertos.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.abertos.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.abertos.item_2") %></p>
   <center>
      <img src="/img/orcamentos/abertos_2.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.abertos.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.abertos.item_4") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_aberto.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.abertos.item_5") %></p>
   <p class="note" style="text-indent: 3em; text-align: justify;"><%= I18n.t("orcamentos.index.abertos.item_6") %></p>
</div>



<!-- Pendente Auditor -->
<div id ="auditor" > &nbsp </div>
<h2 id="auditor_inner"><%= I18n.t("orcamentos.index.table_of_contents.auditor") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_pendente_auditor.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.auditor.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.auditor.item_2") %></p>
   <center>
      <img src="/img/orcamentos/pendente_auditor_2.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.auditor.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.auditor.item_4") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_auditor.jpg"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.auditor.item_5") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.auditor.item_6") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_pendente_auditor_negar.png" />
   </center>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.auditor.item_7") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_pendente_auditor_aprovar.png"  />
   </center>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.auditor.item_8") %></p>
</div>


<!-- Não Aprovado -->
<div id ="nao_aprovado" > &nbsp </div>
<h2 id="nao_aprovado_inner"><%= I18n.t("orcamentos.index.table_of_contents.nao_aprovado") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_negados.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.nao_aprovado.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.nao_aprovado.item_2") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.nao_aprovado.item_3") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_negado.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.nao_aprovado.item_4") %></p>
</div>


<!-- Pendente Local Atendimento -->
<div id ="local_atendimento" > &nbsp </div>
<h2 id="local_atendimento_inner"><%= I18n.t("orcamentos.index.table_of_contents.local_atendimento") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_pendentes_local.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.local_atendimento.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_2") %></p>
   <center>
      <img src="/img/orcamentos/orcamentos_local.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.local_atendimento.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_4") %></p>
   <div style="margin-right:10%;margin-left:10%">
      <ul class="lista" style="text-align: justify;">
         <li> <%= I18n.t("orcamentos.index.local_atendimento.item_5") %></p></li>
         <br/>
         <li> <%= I18n.t("orcamentos.index.local_atendimento.item_6") %></p></li>
      </ul>
   </div>
   <center>
      <img src="/img/orcamentos/orcamento_local.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.local_atendimento.item_7") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_8") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_9") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_10") %></p>
   <center>
      <img src="/img/orcamentos/passo_1.png" />
   </center>
   <br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_11") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_12") %></p>
   <center>
      <img src="/img/orcamentos/passo_2.1.png" />
   </center>
   <br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_13") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_14") %></p>
   <center>
      <img src="/img/orcamentos/passo_2.2.png" />
   </center>
   <br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_15") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.local_atendimento.item_16") %></p>
   <center>
      <img src="/img/orcamentos/passo_3.png" />
   </center>
</div>


<!-- Pendente Fornecedor -->
<div id ="pendentes_fornecedor" > &nbsp </div>
<h2 id="pendentes_fornecedor_inner"><%= I18n.t("orcamentos.index.table_of_contents.pendentes_fornecedor") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_pendente_fornecedor.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.pendentes_fornecedor.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.pendentes_fornecedor.item_2") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_pendente_fornecedor.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.pendentes_fornecedor.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.pendentes_fornecedor.item_4") %></p>
</div>


<!-- Cancelado -->
<div id ="cancelado" > &nbsp </div>
<h2 id="cancelado_inner"><%= I18n.t("orcamentos.index.table_of_contents.cancelado") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_cancelados.png"  />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.cancelado.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.cancelado.item_2") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.cancelado.item_3") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_cancelado.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.cancelado.item_4") %></p>
</div>


<!-- NFs Recebidas -->
<div id ="nf_recebida" > &nbsp </div>
<h2 id="nf_recebida_inner"><%= I18n.t("orcamentos.index.table_of_contents.nf_recebida") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_notas_fiscais_recebidas.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.nf_recebida.item_1") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.nf_recebida.item_2") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_nota_fiscal_recebida.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.nf_recebida.item_3") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.nf_recebida.item_4") %></p>
</div>


<!-- Aguardando Reprocessamento de Título -->
<div id ="rep_titulo" > &nbsp </div>
<h2 id="rep_titulo_inner"><%= I18n.t("orcamentos.index.table_of_contents.rep_titulo") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_aguardando_reprocessar_titulos.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.rep_titulo.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.rep_titulo.item_2") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_aguardando_reprocessar_titulo.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.rep_titulo.item_3") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.rep_titulo.item_4") %></p>
</div>



<!-- Aguardando Confirmação de Faturamento -->
<div id ="conf_faturamento" > &nbsp </div>
<h2 id="conf_faturamento_inner"><%= I18n.t("orcamentos.index.table_of_contents.conf_faturamento") %></h2>
<div class="row-fluid">
   <center>
      <img src="/img/orcamentos/orcamentos_aguardando_confirmacao_faturamento.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.conf_faturamento.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.conf_faturamento.item_2") %></p>
   <center>
      <img src="/img/orcamentos/orcamento_aguardando_confirmacao_faturamento.png" />
   </center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.conf_faturamento.item_3") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.conf_faturamento.item_4") %></p>
</div>



<!--Botão proximo -->
<ul class="pager">
   <li class="previous"><%= link_to("&larr; " + I18n.t("menu_principal.index.title"), "menu_principal") %></li>
   <li class="next"><%= link_to(I18n.t("relatorios.index.title") + " &rarr;", "relatorios") %></li>
</ul>